body {
    background-image: url("../images/bg.jpg")  
} */
#mapHandler {
    position: relative;
    padding: 15px;
}
#menu {
    position: relative;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
   
}

#getWeather {
    padding: 10px;
    border-style: groove;
}

#saveWorkout {
    padding:10px;
    border-style: groove;
}
#userInputContainer {
   position: relative;
   padding: 10px;
   
}

#resultsHandler {
    font-size: 22px;
    color: #fff;
    padding: 10px;
}