body {
    background-image: url("../images/bg.jpg")  
} */
#mapHandler {
    position: relative;
    padding: 15px;
}
#menu {
    position: relative;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
   
}

#getWeather {
    padding: 10px;
    border-style: groove;
}

#saveWorkout {
    padding:10px;
    border-style: groove;
}
#userInputContainer {
   position: relative;
   padding: 10px;
   
}

#resultsHandler {
    font-size: 22px;
    color: #fff;
    padding: 10px;
}

.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

#workout-response {
    color: white;
    font-size: 20px;
}